<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, метеллическая мебель</title>
<style type="text/css">
<!--
td {
    font-size: 9px;
}
td {
    font-weight: bold;
}
.a {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    color: #930;
    text-decoration: none;
    border: none;
}
.a {
    text-align: center;
}
td {
    color: #930;
}
body table tr td table tr td {
    color: #000;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}
td {
}
td {
    font-size: 12px;
}
a:link {
    color: #000;
}
body,td,th {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #069;
}
a:active {
    color: #000;
}
-->
</style>
</head>
<body>
<table width="836" height="459" border="0" align="center">
  <tr>
    <td height="143" colspan="3"><table width="822" height="120" border="0">
        <tr>

          <td height="38" colspan="3" align="center"><img src="images/1.jpg" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="839" height="34" /></td>
        </tr>
        <tr>
          <td width="197" rowspan="3"><img src="images/meetr1.JPG" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="187" height="49" /></td>
          <td width="354" bgcolor="#FFFFFF">&nbsp;</td>
          <td width="280" bgcolor="#FFFFFF"><img src="images/tel.JPG" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="279" height="47" /></td>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#FFFFFF">&nbsp;</td>

        </tr>
        <tr>
          <td colspan="2" align="center" bgcolor="#FFFFFF"><a href="index.html">Главная</a> l  <a href="contact.html">Контакты</a> l  <a href="service.html">Наш сервис</a> l  <a href="price.html">Прайс-лист</a> l <a href="partner.html">Партнеры</a></td>

        </tr>
        <tr>
          <td colspan="3" bgcolor="#8AA0B9">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td width="220"><table width="213" height="1362" border="0">
      <tr>

        <td height="19" bgcolor="#8AA0B9">&nbsp;</td>
      </tr>
      <tr>
        <td height="22" bgcolor="#EFEFEF"><a href="kreslapersonal.html">КРЕСЛА ДЛЯ ПЕРСОНАЛА</a></td>
      </tr>
      <tr>
        <td height="20" bgcolor="#EFEFEF"><a href="kreslaruk.html">КРЕСЛА ДЛЯ РУКОВОДИТЕЛЯ</a></td>
      </tr>

      <tr>
        <td height="23" bgcolor="#EFEFEF"><a href="kreslavip.html">КРЕСЛА VIP КЛАССА</a></td>
      </tr>
      <tr>
        <td height="21" bgcolor="#EFEFEF"><a href="mnogomestnye.html">МНОГОМЕСТНЫЕ КРЕСЛА</a></td>
      </tr>
      <tr>
        <td height="20" bgcolor="#EFEFEF"><a href="stul.html">СТУЛЬЯ</a></td>

        </tr>
      <tr>
        <td height="18" bgcolor="#EFEFEF"><a href="mebelpers.html">МЕБЕЛЬ ДЛЯ ПЕРСОНАЛА</a></td>
      </tr>
      <tr>
        <td height="23" bgcolor="#EFEFEF"><a href="kabinet.html">КАБИНЕТ РУКОВОДИТЕЛЯ</a></td>
      </tr>
      <tr>

        <td height="22" bgcolor="#EFEFEF"><a href="kompstol.html">КОМПЬЮТЕРНЫЕ СТОЛЫ</a></td>
      </tr>
      <tr>
        <td height="22" bgcolor="#EFEFEF"><a href="divan.html">ОФИСНЫЕ ДИВАНЫ</a></td>
      </tr>
      <tr>
        <td height="26" bgcolor="#EFEFEF"><a href="metall.html">МЕТАЛЛИЧЕСКАЯ МЕБЕЛЬ</a></td>

      </tr>
      <tr>
        <td height="31" bgcolor="#8AA0B9"><a href="material.html">МАТЕРИАЛЫ ДЛЯ КРЕСЕЛ</a></td>
        </tr>
      <tr>
        <td height="32" bgcolor="#FFFFFF"><img src="images/mol.jpg" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="170" height="268" /></td>
      </tr>
      <tr>

        <td height="795" bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
    </table></td>
    <td width="595"><table width="595" height="1244" border="0">
      <tr>
        <td height="22" colspan="5">КРЕСЛА ДЛЯ РУКОВОДИТЕЛЯ</td>
        </tr>
      <tr>

        <td height="84" colspan="2" align="center"><img src="images/Kresla rukov/Atlant-K_4991.jpg" width="115" height="149" /></td>
        <td width="149" height="84" align="center"><img src="images/Kresla rukov/C39--K-Laguna_3bc6.jpg" width="108" height="149" /></td>
        <td width="145" height="84" align="center"><img src="images/Kresla rukov/C41-K_3d4d.jpg" width="119" height="149" /></td>
        <td width="144" height="84" align="center"><img src="images/Kresla rukov/C-44-K_2ea0.jpg" width="106" height="149" /></td>
        </tr>
      <tr>
        <td height="32" colspan="2" bgcolor="#8AA0B9"><a href="atlant.html">ОФИСНОЕ КРЕСЛО АТЛАНТ</a></td>
        <td height="32" bgcolor="#8AA0B9"><a href="PALERMO.html">ОФИСНОЕ КРЕСЛО  ПАЛЕРМО</a></td>

        <td height="32" bgcolor="#8AA0B9"><a href="c41senator.html">ОФИСНОЕ КРЕСЛО С41 СЕНАТОР</a></td>
        <td height="32" bgcolor="#8AA0B9"><a href="born.html">ОФИСНОЕ КРЕСЛО БОРН</a></td>
      </tr>
      <tr>
        <td height="24" colspan="2">&nbsp;</td>
        <td height="24">&nbsp;</td>
        <td height="24">&nbsp;</td>
        <td height="24">&nbsp;</td>

      </tr>
      <tr>
        <td height="96" colspan="2"><img src="images/Kresla rukov/Ergus-K_68dd.jpg" width="112" height="149" /></td>
        <td height="96"><img src="images/Kresla rukov/Gelaxy-K-Vl_8c36.jpg" width="110" height="149" /></td>
        <td height="96"><img src="images/Kresla rukov/Germes-K_c780.jpg" width="117" height="149" /></td>
        <td height="96"><img src="images/Kresla rukov/K02k_b_f.jpg" width="120" height="150" /></td>
      </tr>
      <tr>
        <td height="36" colspan="2" bgcolor="#8AA0B9"><a href="k47ergus.html">ОФИСНОЕ КРЕСЛО К47 ЭРГУС</a></td>

        <td height="36" bgcolor="#8AA0B9"><a href="k49GALAXY.html">ОФИСНОЕ КРЕСЛО К49 ГЭЛАКСИ</a></td>
        <td height="36" bgcolor="#8AA0B9"><a href="GERMES.html">ОФИСНОЕ КРЕСЛО ГЕРМЕС</a></td>
        <td height="36" bgcolor="#8AA0B9"><a href="OMEGA.html">ОФИСНОЕ КРЕСЛО ОМЕГА</a></td>
      </tr>
      <tr>
        <td height="30" colspan="2">&nbsp;</td>
        <td height="30">&nbsp;</td>

        <td height="30">&nbsp;</td>
        <td height="30">&nbsp;</td>
      </tr>
      <tr>
        <td height="105" colspan="2"><img src="images/Kresla rukov/K03k_b_4.jpg" width="120" height="150" /></td>
        <td height="105"><img src="images/Kresla rukov/K04k_b_7.jpg" width="120" height="150" /></td>
        <td height="105"><img src="images/Kresla rukov/K05k_b_a.jpg" width="120" height="150" /></td>
        <td height="105"><img src="images/Kresla rukov/K06-K_b_.jpg" width="120" height="150" /></td>
      </tr>

      <tr>
        <td height="31" colspan="2" bgcolor="#8AA0B9"><a href="GAMMA.html">ОФИСНОЕ КРЕСЛО ГАММА</a></td>
        <td height="31" bgcolor="#8AA0B9"><a href="ESKUDO.html">ОФИСНОЕ КРЕСЛО ЭСКУДО</a></td>
        <td height="31" bgcolor="#8AA0B9"><a href="TAURUS.html">ОФИСНОЕ КРЕСЛО ТАУРУС</a></td>
        <td height="31" bgcolor="#8AA0B9"><a href="TOLEDO.html">ОФИСНОЕ КРЕСЛО ТОЛЕДО</a></td>
      </tr>
      <tr>

        <td height="33" colspan="2">&nbsp;</td>
        <td height="33">&nbsp;</td>
        <td height="33">&nbsp;</td>
        <td height="33">&nbsp;</td>
      </tr>
      <tr>
        <td height="92" colspan="2"><img src="images/Kresla rukov/k10_b1e3.jpg" width="114" height="149" /></td>
        <td height="92"><img src="images/Kresla rukov/Kendo-K-ML_9cdc.jpg" width="112" height="149" /></td>
        <td height="92"><img src="images/Kresla rukov/Manager-K-Laguna_a7dd.jpg" width="103" height="149" /></td>

        <td height="92"><img src="images/Kresla rukov/meneger.jpg" width="120" height="149" /></td>
        </tr>
      <tr>
        <td height="45" colspan="2" bgcolor="#8AA0B9"><a href="VERONA.html">ОФИСНОЕ КРЕСЛО ВЕРОНА </a></td>
        <td bgcolor="#8AA0B9"><a href="KENDO.html">ОФИСНОЕ КРЕСЛО КЕНДО</a></td>
        <td bgcolor="#8AA0B9"><a href="MENEJER.html">ОФИСНОЕ КРЕСЛО МЕНЕДЖЕР ЛАГУНА</a></td>
        <td bgcolor="#8AA0B9"><a href="KOMO.html">ОФИСНОЕ КРЕСЛО КОМО</a></td>

      </tr>
      <tr>
        <td height="29" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td height="30" colspan="2" bgcolor="#FFFFFF"><img src="images/Kresla rukov/nadir .jpg" width="120" height="149" /></td>

        <td bgcolor="#FFFFFF"><img src="images/Kresla rukov/Oskar_5d1f.jpg" width="108" height="149" /></td>
        <td bgcolor="#FFFFFF"><img src="images/Kresla rukov/senator.jpg" width="120" height="149" /></td>
        <td bgcolor="#FFFFFF"><img src="images/Kresla rukov/tango.jpg" width="120" height="149" /></td>
      </tr>
      <tr>
        <td height="45" colspan="2" bgcolor="#8AA0B9"><a href="NADIR.html">ОФИСНОЕ КРЕСЛО НАДИР </a></td>
        <td bgcolor="#8AA0B9"><a href="OCKAR.html">ОФИСНОЕ КРЕСЛО ОСКАР</a></td>
        <td bgcolor="#8AA0B9"><a href="IDRA.html">ОФИСНОЕ КРЕСЛО ИДРА</a></td>

        <td bgcolor="#8AA0B9"><a href="TANGO.html">ОФИСНОЕ КРЕСЛО ТАНГО</a></td>
      </tr>
      <tr>
        <td height="32" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
      </tr>

      <tr>
        <td height="45" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#FFFFFF"><img src="images/Kresla rukov/Vader-Mlt-Xp_46b0.jpg" width="105" height="149" /></td>
        <td bgcolor="#FFFFFF"><img src="images/Kresla rukov/Zeta-K-Laguna_7215.jpg" width="109" height="149" /></td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
      <tr>
        <td height="45" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
        <td bgcolor="#8AA0B9"><a href="VADER.html">ОФИСНОЕ КРЕСЛО ВАДЕР</a></td>

        <td bgcolor="#8AA0B9"><a href="ZETA.html">ОФИСНОЕ КРЕСЛО ЗЕТА</a></td>
        <td bgcolor="#FFFFFF">&nbsp;</td>
      </tr>
    </table></td>
    <td width="12">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="828" border="0">

      <tr>
        <td width="31" height="22">&nbsp;</td>
        <td width="161">&nbsp;</td>
        <td width="205" align="center" bgcolor="#8AA0B9">ДОСТАВКА</td>
        <td width="96">&nbsp;</td>
        <td width="130">&nbsp;</td>
        <td width="232" bgcolor="#8AA0B9">РЕЖИМ РАБОТЫ</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td><img src="images/maprussia.gif" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="161" height="94" /></td>
        <td>По Москве и по МО- 500 рублей. От 30000 - бесплатно. Доставка в регионы</td>
        <td>&nbsp;</td>
        <td><img src="images/118362m.jpg" alt="ООО &quot; МЭТР&quot; - производство офисных кресел и офисной мебели, многоместные кресла, металлическая мебель" width="98" height="94" /></td>
        <td><p>пн-пт</p>
          <p>с8.00 до 19.00</p></td>

      </tr>
      <tr>
        <td colspan="6" bgcolor="#EFEFEF">&nbsp;</td>
        </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>

  </tr>
</table>
</body>
</html>
