errorDocument 404 /404.shtml
errorDocument 500 /500.shtml


RewriteEngine on

#RewriteCond %{HTTP_HOST} ^specfabrika\.ru$ [NC]
#RewriteRule ^.*$ http://www.specfabrika.ru%{REQUEST_URI} [R=301,L]

#для редирект c индексных файлов
RewriteRule ^index\.(s){0,1}html$  / [R=301]


####новая версия реврайтовских правил
#для админки
#RewriteRule ^admin/{0,1}$ /admin/index.html [L]


#для редирект c индексных файлов
#RewriteRule ^index\.(s){0,1}html$  / [L]


#для перенаправления с главной на рускоязычную версию
RewriteRule ^/{0,1}$  /cgi-bin/view/document.cgi?id=main [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^catalog/form_order\.html(.*)$  		/cgi-bin/view/catalog.cgi?a=form_order 		[QSA,L]
RewriteRule ^catalog/([A-Za-z\-\_0-9]+)/([A-Za-z\-\_0-9]+).html(.*)$  		/cgi-bin/view/catalog.cgi?id=$1&id_cat=$2&a=full&test=2$3 		[QSA,L]
RewriteRule ^catalog/([A-Za-z\-\_0-9^\_p]+)\_p([0-9]+)\.html(.*)$	/cgi-bin/view/catalog.cgi?id=$1&p_n=$2$3 [QSA,L]
RewriteRule ^catalog/([A-Za-z\-\_0-9]+).html(.*)$  		/cgi-bin/view/catalog.cgi?id=$1$2 		[QSA,L]


#Для всех строк ставим диспатчер (:-)
# vazno - imena razdelov latinskie bukvu zo znakom -
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([A-Za-z\-\_0-9]+)/(.*)$  /cgi-bin/view/$1.cgi?module_name=$1&dispatch=$2 [QSA,L]

